<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Animaciones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/animaciones/fondo-animado/index.html'">Fondo animado</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/animaciones/reloj/index.html'">Reloj</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/animaciones/cat/index.html'">Gato</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/animaciones/pelota-saltarina/index.html'">Pelota saltarina</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/animaciones/atrapa-click/index.html'">Atrapa click</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/animaciones/generador-colores/index.html'">Generador de colores de fondo</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/animaciones/web-animada-0/index.html'">Pagina animada N°1</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/animaciones/web-animada-1/index.html'">Pagina animada N°2</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/animaciones/web-animada-2/index.html'">Pagina animada N°3</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/animaciones/web-animada-3/index.html'">Pagina animada N°4</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/animaciones/letras-ciudades/index.html'">Ciudades</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/animaciones/linea-tiempo/index.html'">Línea del tiempo</div>

    </section>
</body>
</html>