<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Animaciones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/animaciones/fondo-animado/index.html'">Fondo animado</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/animaciones/reloj/index.html'">Reloj</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/animaciones/cat/index.html'">Gato programando</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/animaciones/pelota-saltarina/index.html'">Pelota Saltarina</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/animaciones/atrapa-click/index.html'">Atrapa click</div>
    </section>
</body>
</html>