<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Botones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/botones/3d/index.html'">3D</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/botones/hover/index.html'">Hover</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/botones/suma-estrella/index.html'">Suma estrella</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/botones/neon-1/index.html'">Neón N°1</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/botones/confetti/index.html'">Confeti</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/botones/descargar/index.html'">Descargar</div>
    </section>
</body>
</html>