<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Formularios y menú</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/formularios/header/index.html'">Header responsive</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/formularios/bar-animated/index.html'">Barra animada</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/formularios/singIn-singUp-1/index.html'">SingIn/SingUp N°1</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/formularios/error-404/index.html'">Error 404</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/formularios/generador-contrasenias/index.html'">Generador contraseñas</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/formularios/neumorphic-elementos/index.html'">Neumorphic elementos</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/formularios/imposible-submit/index.html'">Imposible</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/formularios/input/index.html'">Input</div>
        <div class="caja c1" onclick="window.location.href='../mini-projects/formularios/validador-contra/index.html'">Validador contraseña</div>



    </section>
</body>
</html>