<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Spinner</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/Spinner/spinner-1/index.html'">Spinner N°1</div>

    </section>
</body>
</html>