<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Tarjetas animadas</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../mini-projects/tarjetasAnimadas/3d-carousel-1/index.html'">Carrusel N°1</div>
        <div class="caja c2" onclick="window.location.href='../mini-projects/tarjetasAnimadas/3d-carousel-2/index.html'">Carrusel N°2</div>
        <div class="caja c3" onclick="window.location.href='../mini-projects/tarjetasAnimadas/3d-carousel-3/index.html'">Carrusel N°3</div>
        <div class="caja c4" onclick="window.location.href='../mini-projects/tarjetasAnimadas/3d-carousel-4/index.html'">Carrusel N°4</div>

        <div class="caja c1" onclick="window.location.href='../mini-projects/tarjetasAnimadas/scroll-imagenes/index.html'">Scroll de imágenes</div>


    </section>
</body>
</html>