<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" />
    <title>Índice css/html/js-funny</title>
</head>
<body>
    <h1>Demo mini-proyectos CSS/HTML/JS</h1>
    <h2>Animaciones</h2>
    <section class="flex-container">
        <div class="caja c1" onclick="window.location.href='../../mini-projects/animaciones/Ta-te-ti/index.html'">TA-TE-TI</div>
        <div class="caja c2" onclick="window.location.href='../../mini-projects/animaciones/raspadita/index.html'">Raspadita</div>
        <div class="caja c3" onclick="window.location.href='../../mini-projects/animaciones/rayos-x/index.html'">Rayos X</div>




        <div class="pagination">
            <li><a href="animaciones.html">«</a></li>
            <li><a href="animaciones.html">1</a></li>
            <li><a class="active" href="&animaciones-2.html">2</a></li>
            <!-- <li><a href="&botones-3.html">3</a></li> -->
            <!-- <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li><a href="#">7</a></li>  -->
            <!-- <li><a>»</a></li> -->
            <!-- <li><a href="&animaciones-2.html">»</a></li> -->
        </div>
    </section>
</body>
</html>